.report{
    margin-top: 10px;
    padding: 1.2rem;
    width:500px;
    height:100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    color:black;
    border-radius: 10px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border: 2px solid #b9f5f1;
   
 
}

.view2{
    border:black;
    border-top-style:double;
}
.view2txt{
    margin-top: 10px;
    text-align: center;
}
    
.view2 :hover {
    transform: translateY(-3px);
    cursor: pointer;
    padding: 0.5rem;
    margin:4px 0;
    border: 2px;
    transition: all 0.5 ease-in-out
}